.container {
	width: 300px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 20px;
	text-align: end;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 4;
	justify-content: center;
}

.header {
	font-size: 16px;
	margin-bottom: 1.5vh;
}

.text {
	font-size: 13px;
	margin: 1.5vh 0;
}

.text a {
	color: rgb(49, 118, 199);
	text-decoration: underline;
	cursor: pointer;
}
