.container {
	width: 100vw;
	height: 100vh;
	overflow: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}

.gridItem {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 4px;
	width: calc(20vw - 20px);
	/* height: 30em; */
}
