.container {
	border: 2px solid red;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}

.gridItem {
	background-color: #f1f1f1;
	padding: 20px;
	border-radius: 4px;
}
