.enter_button {
	position: relative;
	top: 40px;
	background-color: var(--light-text);
	width: 90px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-family: var(--modern-font);
	font-size: 18px;
	z-index: 300;
	cursor: pointer;
	/* border: 2px solid red; */
}

.enter {
}
.enterContainer {
	border: 1px solid grey;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 20%;
}
