.name {
	border: 2px solid red;
}
<div
	className='circle_small_blue'
	id='circle_10'
	> </div
	> <div
	className='circle_orange_halo'
	id='circle_11'
	> </div
	> <div
	className='circle_small_blue'
	id='circle_12'
	> </div
	> .subscribeContainer {
	border: 2px solid yellow;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(6.1px);
	-webkit-backdrop-filter: blur(6.1px);
	border: 1px solid rgba(0, 0, 0, 0.08);
	/* width: 55vw; */
	/* display: flex; */
	/* justify-content: space-between; */
	/* align-items: center; */
	/* margin: auto; */
	padding: 10px 25px;
}
