.orbit {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	animation: orbitAnimation 10s linear infinite;
}

.centraldiv {
	width: 100px;
	height: 100px;
	background-color: #ff6f61;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.orbitaldiv {
	width: 50px;
	height: 50px;
	background-color: #6b5b95;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-style: preserve-3d;
}
.child {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ff6f61;
	--outline-width: 15px;
	--outline-height: 15px;
	--outline-opacity: 0;
}
.center {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 30%;
	left: 50%;
	/* z-index: 32; */
	transform: translate(-50%, -50%);
}
.child::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--outline-width);
	height: var(--outline-height);
	border-radius: 50%;
	border: 3px solid white; /* Outline thickness and color */
	background-color: transparent;
	opacity: var(--outline-opacity);
	transform: translate(-50%, -50%);
	z-index: -1; /* Place it behind the main div */
}
.shimmer {
	font-size: 18px;
	line-height: 1.5;
	/* color: transparent; */
	color: #ccc; /* Set text color to light grey */
	position: relative; /* Position relative for the pseudo-element */
	overflow: hidden; /* Hide overflow from the pseudo-element */
	/* background: linear-gradient(90deg, transparent, #fff, transparent);
	background-repeat: no-repeat;
	background-size: 10% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	animation: revealText 2s linear infinite; */
}
.shimmer::after {
	content: '';
	position: absolute;
	top: 0;
	left: -150%; /* Start the shimmer off-screen */
	width: 150%; /* Ensure the shimmer covers the text */
	height: 100%;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.8),
		transparent
	);
	/* background-repeat: no-repeat; */
	/* background-size: 10% 100%; */
	/* -webkit-background-clip: text; */
	background-clip: text;
	animation: shimmer 2s infinite;
	pointer-events: none; /* Allow text selection */
}

@keyframes revealText {
	to {
		background-size: 150% 150%;
	}
}
@keyframes shimmer {
	0% {
		left: -150%;
	}
	100% {
		left: 150%;
	}
}
