.container {
	position: fixed;
	bottom: 20%;
	border: 2px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}
.left {
	width: 50px;
	padding: 10px;
	text-align: center;
}

.right {
	width: 50px;
	padding: 10px;
	text-align: center;
}
.name {
	width: 150px;
	text-align: center;
	border: 1px solid blue;
}
