.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100px;
	gap: 15px;
}

.textContainer {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	align-items: center;
	/* flex-direction: column; */
}
