.container {
	display: flex;
	/* justify-content: space-around; */
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100px;
}

.textContainer {
	position: absolute;
	bottom: 430px;
	display: flex;
	/* justify-content: space-around; */
	/* align-items: center; */
	/* flex-direction: column; */
}
