.marginalia:hover {
    -webkit-filter: drop-shadow(0px 0px 15px #ff8618);
    filter: drop-shadow(0px 0px 15px #ff8618);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.marginalia {
    width: 15em;
    min-width: 15em;
    height: 15em;
    background-color: white;
    -webkit-filter: drop-shadow(0px 0px 5px #3176c7);
    filter: drop-shadow(0px 0px 5px #3176c7);
    -webkit-backdrop-filter: blur(5px);
    padding: 30px;
    padding-top: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.username {
    font-size: 1rem;
    font-family: var(--modern-font);
}

.text {
    font-size: 1rem;
    font-family: var(--modern-font);
}

.picture {
    width: 11.5em;
    overflow: hidden;
}

@media screen and (max-width: 450px) {
    .marginalia {
        width: 12em;
        height: 14em;
        margin: 0.5em;
        background-color: white;
        -webkit-filter: drop-shadow(0px 0px 3px #3176c7);
        filter: drop-shadow(0px 0px 3px #3176c7);
        -webkit-backdrop-filter: blur(3px);
        padding: 20px;
    }
}