.child_nodes {
	border: 2px solid red;
	position: relative;
	top: 0;
	/* top: 50%; */
	/* left: 50%; */
	/* width: 100vw; */
	width: 300px;
	height: 300px;

	/* height: 100vh; */
	/* transform: translate(-50%, -50%); */
	pointer-events: none;
}
.box {
	cursor: pointer;
}
.child {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: rgba(255, 140, 36, 1);
}
/* rgba(255, 140, 36, 1) 100% */

.parent {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: rgba(255, 140, 36, 0.5);
}
