.container {
	border: 1px solid grey;
	border-radius: 20px;
	width: max-content;
	padding: 2em;
}

.bold {
	font-weight: bold;
}

.delete {
	font-weight: 800;
	color: lightblue;
	cursor: pointer;
	width: max-content;
}
.delete:hover {
	color: blue;
}
.deleted {
	opacity: 0.2;
	background-color: red;
}
.approve {
	font-weight: 800;
	color: lightblue;
	cursor: pointer;
	width: max-content;
}
.delete:hover {
	color: red;
}
.deleted {
	opacity: 0.2;
	background-color: red;
}
