.container {
	position: fixed;
	left: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	height: 100%;
}

.backButton {
	font-family: var(--modern-font);
	font-size: 16px;
}
.theArrow {
	position: relative;
	bottom: 10px;
	width: var(--shaft-width);
	transition: all 0.2s;
}

.theArrow.left {
	position: absolute;
	top: 60%;
	left: 0;
}

.theArrow.left > .shaft {
	width: 0;
	background-color: var(--gray);
}

.theArrow.left > .shaft:before,
.theArrow.left > .shaft:after {
	width: 0;
	background-color: var(--gray);
}

/* .theArrow.left > .shaft:before {
	transform: rotate(0);
}

.theArrow.left > .shaft:after {
	transform: rotate(0);
} */

.theArrow.left > .shaft:before {
	transform: rotate(0);
}

.theArrow.left > .shaft:after {
	transform: rotate(0);
}

.theArrow.right {
	top: 2px;
}

.theArrow.right > .shaft {
	width: var(--shaft-width);
	transition-delay: 0.2s;
}

/* .theArrow.right > .shaft:before,
.theArrow.right > .shaft:after {
	width: var(--arrow-head-width);
	transition-delay: 0.3s;
	transition: all 0.5s;
}

.theArrow.right > .shaft:before {
	transform: rotate(40deg);
}

.theArrow.right > .shaft:after {
	transform: rotate(-40deg);
} */
.theArrow.right > .shaft:before,
.theArrow.right > .shaft:after {
	width: var(--arrow-head-width);
	transition-delay: 0.3s;
	transition: all 0.5s;
}

.theArrow.right > .shaft:before {
	transform: rotate(40deg);
	transform-origin: top left;
	right: 82%;
}

.theArrow.right > .shaft:after {
	transform: rotate(-40deg);
	transform-origin: bottom left;
	right: 82%;
}

.theArrow > .shaft {
	background-color: var(--gray);
	display: block;
	height: var(--shaft-thickness);
	position: relative;
	transition: all 0.2s;
	transition-delay: 0;
	will-change: transform;
}

.theArrow > .shaft:before,
.theArrow > .shaft:after {
	background-color: var(--gray);
	content: '';
	display: block;
	height: var(--arrow-head-thickness);
	position: absolute;
	top: 0;
	right: 0;
	transition: all 0.2s;
	transition-delay: 0;
}

.theArrow > .shaft:before {
	transform-origin: top right;
}

.theArrow > .shaft:after {
	transform-origin: bottom right;
}

.animatedArrow {
	display: inline-block;
	color: var(--gray);
	font-size: 1.25em;
	font-style: italic;
	text-decoration: none;
	position: relative;
	transition: all 0.2s;
}

.animatedArrow:hover {
	color: var(--white);
}

.animatedArrow.white:hover {
	color: var(--black);
}

/* .animatedArrow:hover > .theArrow.left > .shaft {
	width: var(--shaft-width);
	transition-delay: 0.1s;
	background-color: var(--white);
}

.animatedArrow:hover > .theArrow.left > .shaft.white {
	width: var(--shaft-width);
	transition-delay: 0.1s;
	background-color: var(--black);
} */
.animatedArrow:hover > .theArrow.left > .shaft {
	width: var(--shaft-width);
	transition-delay: 0.1s;
	background-color: var(--white);
}

.animatedArrow:hover > .theArrow.left > .shaft.white {
	width: var(--shaft-width);
	transition-delay: 0.1s;
	background-color: var(--black);
}

/* .animatedArrow:hover > .theArrow.left > .shaft:before,
.animatedArrow:hover > .theArrow.left > .shaft:after {
	width: var(--arrow-head-width);
	transition-delay: 0.1s;
	background-color: var(--white);
}
.animatedArrow:hover > .theArrow.left > .shaft.white:before,
.animatedArrow:hover > .theArrow.left > .shaft.white:after {
	width: var(--arrow-head-width);
	transition-delay: 0.1s;
	background-color: var(--black);
} */
.animatedArrow:hover > .theArrow.left > .shaft:before,
.animatedArrow:hover > .theArrow.left > .shaft:after {
	width: var(--arrow-head-width);
	transition-delay: 0.1s;
	background-color: var(--white);
	right: 100%; /* Position the arrowhead on the left side of the shaft */
}

.animatedArrow:hover > .theArrow.left > .shaft.white:before,
.animatedArrow:hover > .theArrow.left > .shaft.white:after {
	width: var(--arrow-head-width);
	transition-delay: 0.1s;
	background-color: var(--black);
	right: 100%; /* Position the arrowhead on the left side of the shaft for white variant */
}
.animatedArrow:hover > .theArrow.left > .shaft:before {
	transform: rotate(130deg);
	transform-origin: bottom right;
}

.animatedArrow:hover > .theArrow.left > .shaft:after {
	transform: rotate(-130deg);
	transform-origin: top right;
}

.animatedArrow:hover > .main {
	transform: translateX(calc(var(--shaft-width) + var(--text-arrow-space)));
}

.animatedArrow:hover > .main > .theArrow.right > .shaft {
	width: 0;
	transform: translateX(200%);
	transition-delay: 0;
}

.animatedArrow:hover > .main > .theArrow.right > .shaft:before,
.animatedArrow:hover > .main > .theArrow.right > .shaft:after {
	width: 0;
	transition-delay: 0;
	transition: all 0.1s;
}

.animatedArrow:hover > .main > .theArrow.right > .shaft:before {
	transform: rotate(0);
}

.animatedArrow:hover > .main > .theArrow.right > .shaft:after {
	transform: rotate(0);
}

.animatedArrow > .main {
	display: flex;
	align-items: center;
	transition: all 0.2s;
}

.animatedArrow > .main > .text {
	margin: 0 var(--text-arrow-space) 0 0;
	line-height: 1;
}

.animatedArrow > .main > .theArrow {
	position: relative;
}
