.enter_button {
	background-color: var(--light-text);
	width: 80px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-family: var(--modern-font);
	font-size: 18px;
}
