.navContainer {
	position: fixed;
	top: 0;
	background: red;
	width: 100vw;
	/* margin-top: 20px; */
}
.navBarFull {
	width: 80vw;
	background: blue;
	border-radius: 25px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	padding: 1rem;
}
