.navContainer {
	position: fixed;
	top: 40px;
	/* background: red; */
	width: 100vw;
	z-index: 60;
}
.navBarFull {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(6.1px);
	-webkit-backdrop-filter: blur(6.1px);
	border: 1px solid rgba(0, 0, 0, 0.08);
	width: 45vw;
	/* border-radius: 25px; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	/* padding: 1rem; */
	padding: 10px;
}

.navItem {
	font-family: var(--modern-font);
	padding: 0.3rem 1.5rem;
	border-radius: 12px;
}

div.b {
	width: 300px;
	height: 50px;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
}

div.b:hover::after {
	opacity: 0.5;
}

div.b::after {
	content: 'Read';
	text-align: center;
	font-family: (var(--modern-font));
	display: block;
	position: absolute;
	background: #111;
	inset: 5px;
	border-radius: 45px;
	z-index: 1;
	transition: opacity 0.3s ease;
}

#toggle:checked ~ main div::after {
	opacity: 0.5;
}

@property --r {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

#a {
	background: conic-gradient(from var(--r), #222 0%, #eee 10%, #222 20%);
	animation: rotating 3s linear infinite;
}
@keyframes rotating {
	0% {
		--r: 0deg;
	}
	100% {
		--r: 360deg;
	}
}

/* better version */

@property --r2 {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

@property --x {
	syntax: '<length>';
	inherits: false;
	initial-value: 0px;
}

.b {
	background: conic-gradient(
		from calc(var(--r2) - 80deg) at var(--x) 25px,
		#222 0%,
		#fff 20%,
		#222 25%
	);
	animation: -0.64s rotating2 3s linear infinite, -0.64s x 3s linear infinite;
}
@keyframes x {
	/* w:h === 6:1 */
	/* with a 80px x-margin */
	0% {
		--x: 80px;
	}
	/* 6/(6+3.14) * 50% */
	32.82275711% {
		--x: 220px;
	}
	50% {
		--x: 220px;
	}
	/* 50% + 32.8% */
	82.82275711% {
		--x: 80px;
	}
	100% {
		--x: 80px;
	}
}

@keyframes rotating2 {
	0% {
		--r2: 0deg;
	}
	32.82275711% {
		--r2: 0deg;
	}
	50% {
		--r2: 180deg;
	}
	82.82275711% {
		--r2: 180deg;
	}
	100% {
		--r2: 360deg;
	}
}
