.navContainer {
	position: fixed;
	top: 40px;
	/* background: red; */
	width: 100vw;
	z-index: 60;
}
.navBarFull {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.13);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6.1px);
	-webkit-backdrop-filter: blur(6.1px);
	border: 1px solid rgba(0, 0, 0, 0.08);
	width: 85vw;
	/* border-radius: 25px; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	/* padding: 1rem; */
	padding: 5px;
}

.navItem {
	background: green;
	padding: 0.5rem 2rem;
	border-radius: 25px;
}
