.navContainer {
	position: fixed;
	top: 0;
	background: red;
	border-radius: 25px;
	display: flex;
	justify-content: space-around;
	margin: auto;
}
.navBarFull {
	width: 80vw;
	background: blue;
	border-radius: 25px;
	display: flex;
	justify-content: space-around;
	margin: auto;
}
