.navContainer {
	position: fixed;
	top: 20px;
	/* background: red; */
	width: 100vw;
}
.navBarFull {
	width: 85vw;
	background: blue;
	border-radius: 25px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	padding: 1rem;
}
