.navContainer {
	position: fixed;
	top: 40px;
	/* background: red; */
	width: 100vw;
	z-index: 60;
}
.navBarFull {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(6.1px);
	-webkit-backdrop-filter: blur(6.1px);
	border: 1px solid rgba(0, 0, 0, 0.08);
	width: 45vw;
	/* border-radius: 25px; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	/* padding: 1rem; */
	padding: 10px;
}

.navItem {
	font-family: var(--modern-font);
	padding: 0.3rem 1.5rem;
	border-radius: 12px;
}

.navButton {
	font-family: var(--modern-font);
	padding: 0.3rem 1.5rem;
	border-radius: 12px;
	background: rgb(255, 140, 36);
	background: linear-gradient(
		27deg,
		rgba(255, 140, 36, 1) 0%,
		rgba(49, 118, 199, 1) 100%
	);
}
