.animated {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: radial-gradient(
		circle at bottom left,
		rgba(49, 118, 199, 1) 0%,
		rgba(49, 118, 199, 1) 40%,
		rgba(255, 140, 36, 1) 100%
	);
}

@keyframes moveGradient {
	0% {
		background-position: bottom left;
	}
	100% {
		background-position: top right;
	}
}
