.animated {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: radial-gradient(
		circle at bottom left,
		rgba(49, 118, 199, 1) 0%,
		rgba(49, 118, 199, 1) 40%,
		rgba(255, 140, 36, 1) 100%
	);
	animation: moveGradient 1s infinite alternate;
}

@keyframes moveGradient {
	0% {
		background-image: radial-gradient(
			circle at bottom left,
			rgba(49, 118, 199, 1) 0%,
			rgba(49, 118, 199, 1) 40%,
			rgba(255, 140, 36, 1) 100%
		);
	}
	100% {
		background-image: radial-gradient(
			circle at top right,
			rgba(49, 118, 199, 1) 0%,
			rgba(49, 118, 199, 1) 40%,
			rgba(255, 140, 36, 1) 100%
		);
	}
}
