.animated {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: radial-gradient(
		circle at 0% 100%,
		/* Starting position: bottom left */ rgba(49, 118, 199, 1) 0%,
		rgba(49, 118, 199, 1) 40%,
		rgba(255, 140, 36, 1) 100%
	);
	animation: moveGradient 5s infinite alternate;
}

@keyframes moveGradient {
	0% {
		background-image: radial-gradient(
			circle at 0% 100%,
			/* Starting position: bottom left */ rgba(49, 118, 199, 1) 0%,
			rgba(49, 118, 199, 1) 40%,
			rgba(255, 140, 36, 1) 100%
		);
	}
	100% {
		background-image: radial-gradient(
			circle at 100% 0%,
			/* Ending position: top right */ rgba(49, 118, 199, 1) 0%,
			rgba(49, 118, 199, 1) 40%,
			rgba(255, 140, 36, 1) 100%
		);
	}
}
